/* #Primary
================================================== */
:root {
  --transparent: #00000000;
  --black1: #14151a;
  --white1: #fff;
  --purple1: #7446b9;
  --purple2: #e2d8f2;
  --yellow: #F6D350;
  --green1: #00bf98;
  --fadeGrey: #a1a1a147;
  --lightGrey1: #ededed;
  --glass1: #ffffff40;
  --glass2: #29292936;
  --stripeTableColor1: #0000000f;
  --stripeTableColor2: #ffffff1a;
  --shadow1: #5959594f;
  --shadow2: #2c2c2c4f;

  --toastRed1: #e84848;

  /* theming */
  --activeShadowColor: var(--shadow1);
  --activeTextColor: var(--black1);
  --activeBgColor: var(--white1);
  --activeStripeTableColor: var(--stripeTableColor1);
  --activeGlassColor: var(--glass1);
}


/* General Styles
================================================== */
body {
  color: var(--activeTextColor);
  background-color: var(--activeBgColor);
  transition: all 0.2s linear;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

main{
  padding: 1em 0;
}

h1, h2, h3{
  font-weight:800;
}

.card-header {
  font-size: 20px;
  padding: 15px;
}

input,
button {
  border: 1px solid var(--activeTextColor);
  background: var(--activeBgColor);
  color: var(--activeTextColor);
}

input {
  border: 0 !important;
  border-radius: 0px !important;
  border-bottom: 1.5px solid var(--activeTextColor) !important;
  box-shadow: none !important;
}

input:focus {
  border-bottom-color: var(--green1) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--activeTextColor) !important;
  background-color: var(--activeBgColor) !important;
}

/* Autofill styles */
input.autofill,
input.autofill:hover,
input.autofill:focus,
input.autofill:active {
  -webkit-text-fill-color: var(--activeTextColor) !important;
  background-color: var(--activeBgColor) !important;
}

/* Specificity for autofill */
.form-control.autofill,
.form-control.autofill:hover,
.form-control.autofill:focus,
.form-control.autofill:active {
  -webkit-text-fill-color: var(--activeTextColor) !important;
  background-color: var(--activeBgColor) !important;
}

/* Autofill styles with pseudo-element */
input.autofill::after,
input.autofill:hover::after,
input.autofill:focus::after,
input.autofill:active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--activeBgColor) !important;
  pointer-events: none;
  z-index: -1;
}

.form-control,
.form-control:focus {
  color: var(--activeTextColor) !important;
  background-color: var(--activeBgColor) !important;
}

.opacityMin {
  opacity: 0;
}

.opacityMax {
  opacity: 1;
}

.glassEffect {
  background-color: var(--activeGlassColor) !important;
  box-shadow: 0 2px 10px var(--activeShadowColor) !important;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid #ffffff73;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

.btn{
  min-width:150px;
}

.btn-success {
  background-color: #aff69d !important;
  color: black !important;
  opacity: 1 !important;
}

.btn.btn-primary{
  background-color: var(--purple1);
  color:#fff;
  font-weight:bold;
  border:2px solid var(--purple1);
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active{
  background-color:transparent;
  color: var(--purple1);
}

.btn-danger {
  background-color: #ff7676 !important;
  color: black !important;
  opacity: 1 !important;
}

.btn-warning {
  background-color: #f9de92 !important;
  color: black !important;
  opacity: 1 !important;
}

.btn-info {
  background-color: #6cc8ec !important;
  color: black !important;
  opacity: 1 !important;
}

.btn {
  transition: all 0.2s linear;
}
.btn:hover {
  filter: brightness(1.2);
}

.invertColor {
  filter: invert(1);
}

/* Navbar Styles
================================================== */
nav .navbar-collapse{
  flex-grow:initial;
}
/* Footer Styles
================================================== */
footer{
  background-color:var(--purple1);
  color:#fff;
  text-align:center;
  padding:1em 0;
  font-size:.8em;
}
.footer-links{
  list-style-type:none;
  padding-left:0;
  margin:0;
}
.footer-links li{
  margin-bottom:.6em;
}
.footer-links li a{
  text-decoration:underline;
  font-weight:normal;
}
.footer-links li a:hover,
.footer-links li a:focus,
.footer-links li a:active{
  text-decoration:none;
}
@media(min-width:768px){
  footer{
    padding:2em 0;
  }
  footer .container{
    display:flex;
    justify-content:space-between;
  }
  footer p{
    margin-bottom:0;
  }
  .footer-links{
    display:flex;
  }
  .footer-links li{
    margin-left:1em;
  }
}


/* Home Page Styles
================================================== */
/* Header */
.text-img-flex{
  display:flex;
  flex-direction:column-reverse;
  align-items:center;
  margin:4em 0;
}
.img-flex{
  display:block;
  width:100%;
  max-width:200px;
  margin-bottom:2em;
}
.text-img-flex .btn{
  display:block;
}
@media(min-width:768px){
  .text-img-flex{
    flex-direction:row;
    justify-content:space-between;
  }
  .text-wrapper{
    width:60%;
    margin-right:1em;
  }
  .text-img-flex .btn{
    display:inline-block;
  }
  .img-flex{
    margin:0;
  }
}

/* Features Section */
.card-section{
  padding:2em 0;
}
.card-section h2{
  font-size:calc(1.375rem + 1.5vw);
  text-align:center;
}
.purple-card{
  background-color:var(--purple2);
  border-radius:15px;
  padding:1em;
  margin:1em auto;
  text-align:center;
  max-width:350px;
  min-height:400px;
}
.purple-card .card-icon{
  border-radius:50%;
  width:5em;
  height:5em;
  display:block;
  margin:2.5em auto;
}
@media(min-width:768px){
  .card-wrapper{
    display:flex;
    justify-content:space-between;
  }
  .purple-card{
    width:30%;
  }
}

/* Tile Section */
.tile-section{
  padding:3em;
}
.tile-text p{
  margin:1.5em 0;
}
@media(min-width:992px){
  .tile-section{
    padding:3em 0;
  }
  .tile-wrapper{
    display:flex;
    margin-bottom:2em;
  }
  .tile-wrapper:nth-child(2){
    flex-direction:row-reverse;
  }
  .tile-img img{
    width:300px;
  }
}


/* User Dashboard Styles
================================================== */
.dashboard{
  display:flex;
  flex-direction:column-reverse;
  background-color:var(--lightGrey1);
}
/* Card Styles */
.card{
  background-color:var(--white1);
  color:var(--black1);
  border-radius:15px;
  border:1px solid var(--lightGrey1);
}
.card-header{
  padding:1em;
  border-bottom:1px solid var(--purple1);
  display:flex;
  justify-content:space-between;
  text-align:left;
}
.card-body{
  padding:1em;
}
@media(min-width:768px){
  .dashboard{
    flex-direction:row;
  }
}
@media(min-width:992px){
  .d-table{
    display:flex;
  }
}